<h1 align="center">Welcome to Myflix</h1>
<br>

<h3>More Coming Soon!</h3>
<video width="320" height="240" controls>
  <source src="movie.mp4" type="video/mp4">
</video>


<div>
  <h3 align="center">Movies</h3>  
  <% @movies.each do |movie| %>
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail" align = "center">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image') , movie %>
        <%= link_to movie.title, movie %>
      </div>
    </div> 
  <% end %>
</div>